<div class="container pagecontainer">
  <div class="page-header">
    <h1>About</h1>
  </div>

  <div class="jumbotron">
    <h1>Expense Watch</h1>
    <p>A sample MEAN app which can be used as a starting template for your real world Apps!</p>
  </div>

</div>
