<div class="container pagecontainer">
  <div class="page-header">
    <h1>Contacts List</h1>
    <button class="btn btn-primary" data-toggle="modal" data-target="#createModal">Create Contact</button>
    <button class="btn btn-primary" target="_blank" (click)="onclickDownloadAsCSV()">Download AS CSV</button>
    <br>
    <br>
    <div>
      <div class="input-group add-on">
        <input class="form-control" placeholder="Search By Address" name="srch-term" id="srch-term" type="text" [(ngModel)]="searchAddressKeyword">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit" (click)="onClickSearchButton()"><i class="glyphicon glyphicon-search"></i></button>
        </div>
      </div>
    </div>
  </div>

  <div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Full Name</th>
        <th>Nick Name</th>
        <th>Website</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let contact of contacts" data-toggle="modal" data-target="#selectModal" (click)="onClickTable(contact)">
        <td>{{contact.fullName}}</td>
        <td>{{contact.nickName}}</td>
        <td>{{contact.website}}</td>
      </tr>
      </tbody>
    </table>

  </div>

  <!--select from table modal-->
  <div id="selectModal" class="modal fade" role="dialog" *ngIf="currentContact">
    <div class="modal-dialog modal-sm">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="selectModalLabel">Contact Information</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
              <label for="fullName" class="control-label">Full Name</label>
              <input type="text" class="form-control" id="fullName" placeholder="" [(ngModel)]="currentContact.fullName">
            </div>
            <div class="form-group">
              <label for="nickname" class="control-label">Nick Name</label>
              <input type="text" class="form-control" id="nickName" placeholder="" [(ngModel)]="currentContact.nickName">
            </div>
            <div class="form-group">
              <label for="website" class="control-label">Website</label>
              <input type="text" class="form-control" id="website" placeholder="" [(ngModel)]="currentContact.website">
            </div>
            <div class="form-group">
              <label for="address" class="control-label">Address</label>
              <input type="text" class="form-control" id="address" placeholder="" [(ngModel)]="currentContact.address">
            </div>
            <div class="form-group" *ngFor="let pn of currentContact.phoneNumber;let index = index; trackBy:trackByIndex;">
              <label for="phoneNumber" class="control-label">Phone {{index + 1}}</label>
              <input type="text" class="form-control" id="phoneNumber" placeholder="" [(ngModel)]="currentContact.phoneNumber[index]">
            </div>
            <div class="form-group">
              <label for="anotherNumber" class="control-label">Another Number</label>
              <input type="text" class="form-control" id="anotherNumber" [(ngModel)]="anotherNumber" placeholder="">
            </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="onClickUpdateContact()">Update</button>
          <button type="button" class="btn btn-danger" (click)="onClickDeleteContact()">Delete</button>
        </div>
      </div>
      </div>
   </div>

  <!--Create Contact Modal-->
  <div id="createModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="createModalLabel">Create Contact</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="newFullName" class="control-label">Full Name</label>
            <input type="text" class="form-control" id="newFullName" placeholder="" [(ngModel)]="newFullName">
          </div>
          <div class="form-group">
            <label for="newNickname" class="control-label">Nick Name</label>
            <input type="text" class="form-control" id="newNickName" placeholder="" [(ngModel)]="newNickName">
          </div>
          <div class="form-group">
            <label for="newWebsite" class="control-label">Website</label>
            <input type="text" class="form-control" id="newWebsite" placeholder="" [(ngModel)]="newWebsite">
          </div>
          <div class="form-group">
            <label for="newNumber" class="control-label">Phone Number</label>
            <input type="text" class="form-control" id="newNumber" [(ngModel)]="newNumber" placeholder="">
          </div>
          <div class="form-group">
            <label for="newAddress" class="control-label">Address</label>
            <input type="text" class="form-control" id="newAddress" [(ngModel)]="newAddress" placeholder="">
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="onClickCreateContact()">Create</button>
        </div>
      </div>
    </div>
  </div>

</div>


